.appLayout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 18em;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav nav"
    "streamColumn chat";
}

.appLayout > .nav {
  grid-area: nav;
}

.appLayout > .chat {
  grid-area: chat;
  overflow-y: hidden;
}

.appLayout > .streamColumn {
  grid-area: streamColumn;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto minmax(3em, 1fr);
}

.appLayout > .streamColumn > .player {
  /* this makes the player shrink its height when the grid tells it to,
   * apparently */
  overflow-y: hidden;
}

@media (orientation: portrait) {
  .appLayout {
    grid-template-columns: auto;
    grid-template-rows: auto auto minmax(5em, 1fr);
    grid-template-areas:
      "nav"
      "streamColumn"
      "chat";
  }

  .appLayout > .streamColumn {
    grid-template-rows: auto auto 0;
    overflow-y: hidden;
  }
}

/* style */
.appLayout > .nav {
  color: white;
  background: #554068;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  z-index: 9999;
}

.appLayout > .streamColumn .streamDescriptionInner {
  padding: 1em;
}
