.chatComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatComponent .chatHistory {
  overflow-y: auto;
  flex-grow: 2;
  padding: 0.5em;
}

.chatComponent .chatInput {
  flex-shrink: 0;
  display: flex;
}

.chatComponent .chatInput input {
  display: block;
  border: none;
  margin: 0;
  padding: 1em;
  flex-grow: 2;
  min-width: 1em;
  background: #554068;
  color: #f0d9ff;
}

.chatComponent .chatInput input:focus {
  outline: none;
}

.chatComponent .chatInput button {
  border: none;
  margin: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
  flex-shrink: 0;
  background: #554068;
  color: #f0d9ff;
}

.chatComponent > .chatHistory {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 0.3em 0em;
}

.chatComponent > .chatHistory > .spacer {
  grid-area: 1 / 1 / 2 / 3;
}

.chatComponent > .chatHistory > .messageAuthor {
  text-align: right;
  font-weight: bold;
}

.chatComponent > .chatHistory > .messageAuthor {
  color: #e8c5fd;
}
.chatComponent > .chatHistory > .messageAuthor::after {
  content: ":\00a0";
}
.chatComponent > .chatHistory > .messageAuthor:nth-of-type(4n + 2) {
  color: #d48fff;
}
